# Environment variables
.env

# Bot config
/config.js

# Local data except dummy file
/data/*
!/data/dummy.txt

# NPM modules
node_modules

# Python cache
__pycache__

# Compiler output
/dest

# VS Code workspace
workspace.code-workspace
